<div class="search row">
 <div class="col-md-offset-7 col-md-4 col-sm-8 col-xs-12">
	    <div class="input-group">
            <!-- <input type="hidden" name="search_param" value="all" id="search_param"> -->  
            <%= form_tag({:action=>'search'}, :method => :get) do %>                    
	            <div class="input-group-btn">
	            	<%= text_field_tag "input", nil, :class => "form-control ", :placeholder => "Please input tag"%> 
	                <%=submit_tag 'search', :class=>"btn" %>
	            </div>
            <%end%>
        </div>
    </div>
</div>
<div class="row" id="picture_gallery">
	<div class="list-group gallery">
		<% @pictures.each do |picture| %>
		<div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3" align="center">
			<div class="thumbnail">
				<a class="fancybox" rel="ligthbox" href="<%= picture.image.url%>">
					<div class="img-responsive" >
						<%= image_tag picture.image_url(:thumb) %>
					</div>
					<p align="center">
						<%= picture.name %>
					</p>
				</a>
				<div class="icon-list">
					<ul>
						<li>
							<%= link_to download_picture_path(picture), :title => "Download" do %>
								<span class="glyphicon glyphicon-cloud-download"></span>
							<%end%>
						</li>
						<li>
							<%= link_to edit_picture_path(picture), :title=>"Edit" do %>
								<span class="glyphicon glyphicon-edit"></span>
							<%end%>
						</li>
						<li>
							<%= link_to app_filter_picture_path(picture), :title=>"Apply Filters" do%>
								<span class="glyphicon glyphicon-picture"></span>
							<%end%>
						</li>
						<li>
							<%= link_to share_picture_path(picture), :title=>"Share to friends" do%>
								<span class="glyphicon glyphicon-share-alt"></span>
							<%end%>
						</li>
						<li>
							<%= link_to remove_picture_path(picture), data: { confirm: 'Are you sure?' },:title=>"Delete" do %>
								<span class="glyphicon glyphicon-trash"></span>
							<%end%>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<%end%>
	</div>
</div>
<%= will_paginate @pics %>
