<h1>My Gallery</h1>
<div class="row">
<div class="col-md-6" align="left" style="font-size: 18px">
	<%= link_to 'Trash', trash_picture_path %>
	<%= link_to 'Upload Image', new_picture_path %>
    <%= link_to'Shared Image', showSharedImage_picture_path %>
</div>
 <div class="col-md-4" align="right">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button> -->
                    <!-- <ul class="dropdown-menu" role="menu">
                      <li><a href="#Image_name">Image name</a></li>
                      <li><a href="#tag">Tag</a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul> -->
                </div>
                <!-- <input type="hidden" name="search_param" value="all" id="search_param"> -->  
                <%= form_tag({:action=>'search'}, :method => :get) do %>                    
                <span class="input-group-btn">
                	<%= text_field_tag "input", nil, :class => "form-control ", :placeholder => "Please input image tag"%> 
                    <%=submit_tag 'search',:class=>"btn btn-primary "%>
                </span>
                
                <%end%>
            </div>
        </div>
</div>
<div class="row">
	<div class="list-group gallery">
		<% @pictures.each do |picture| %>
		<div  class="col-md-3 col-sm-4 col-xs-6" align="center">
			  <a class="thumbnail fancybox" rel="ligthbox" href="<%= picture.image.url%>">
			<div class="img-responsive" >
				<%= image_tag picture.image_url(:thumb) %>
			</div>
			<p style="font-size: 16px;font-weight: bold" align="center">
				<%= picture.name %>
			</p>
				<%= link_to 'Download', download_picture_path(picture) %>
				<%= link_to 'Edit', edit_picture_path(picture) %>
				<%= link_to 'Filter', app_filter_picture_path(picture) %>
				<%= link_to 'Share', share_picture_path(picture)%>
				<%= link_to 'Remove', remove_picture_path(picture), data: { confirm: 'Are you sure?' } %>
			</a>
		</div>
		<%end%>
	</div>
</div>
