<div class="row">
<div class="col-md-6" align="left" style="font-size: 18px">
	<%= link_to 'Trash', trash_picture_path %>
	<%= link_to 'Upload Image', new_picture_path %>
    <%= link_to'Shared Image', showSharedImage_picture_path %>
</div>
 <div class="col-md-4" align="right">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button> -->
                    <!-- <ul class="dropdown-menu" role="menu">
                      <li><a href="#Image_name">Image name</a></li>
                      <li><a href="#tag">Tag</a></li>
                      <li class="divider"></li>
                      <li><a href="#all">Anything</a></li>
                    </ul> -->
                </div>
                <!-- <input type="hidden" name="search_param" value="all" id="search_param"> -->  
                <%= form_tag({:action=>'search'}, :method => :get) do %>                    
                <span class="input-group-btn">
                	<%= text_field_tag "input", nil, :class => "form-control ", :placeholder => "Please input image tag"%> 
                    <%=submit_tag 'search',:class=>"btn btn-primary "%>
                </span>
                
                <%end%>
            </div>
        </div>
</div>
<div class="row">
	<div class="list-group gallery">
		<% @pictures.each do |picture| %>
		<div  class="col-md-3 col-sm-4 col-xs-6" align="center">
			<div class="thumbnail">
				<a class="fancybox" rel="ligthbox" href="<%= picture.image.url%>">
					<div class="img-responsive" >
						<%= image_tag picture.image_url(:thumb) %>
					</div>
					<p align="center">
						<%= picture.name %>
					</p>
				</a>
				<div class="icon-list">
					<ul>
						<li>
							<%= link_to download_picture_path(picture), :title => "Download" do %>
								<span class="glyphicon glyphicon-cloud-download"></span>
							<%end%>
						</li>
						<li>
							<%= link_to edit_picture_path(picture), :title=>"Edit" do %>
								<span class="glyphicon glyphicon-edit"></span>
							<%end%>
						</li>
						<li>
							<%= link_to app_filter_picture_path(picture), :title=>"Apply Filters" do%>
								<span class="glyphicon glyphicon-picture"></span>
							<%end%>
						</li>
						<li>
							<%= link_to share_picture_path(picture), :title=>"Share to friends" do%>
								<span class="glyphicon glyphicon-share-alt"></span>
							<%end%>
						</li>
						<li>
							<%= link_to remove_picture_path(picture), data: { confirm: 'Are you sure?' },:title=>"Delete" do %>
								<span class="glyphicon glyphicon-trash"></span>
							<%end%>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<%end%>
	</div>
</div>
