<p id="notice"><%= notice %></p>


<%= image_tag @picture.image_url(:thumb) %>

<!-- <p>
  <strong>Picture path:</strong>
  <%= @picture.picture_path %>
</p> -->

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @picture.user_id %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
