<!DOCTYPE html>
<html>
	<head>
		<title>ImageMajik</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar navbar-static-top nav-custom" role="navigation">
			<div class="container">
				<% if user_signed_in? %>
					<%= link_to "ImageMajik", user_root_path, class: "navbar-brand emph" %>
				<%else%>
					<%= link_to "ImageMajik", root_path, class: "navbar-brand emph" %>
				<%end%>	
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>				
				<div class="collapse navbar-collapse" id="navbar-links">
					<ul class="nav navbar-nav navbar-right" id="nav-log">
						<% if user_signed_in? %>						
							<li class="navbar-right">
								<%= link_to current_user.first_name,edit_user_registration_path%>
							</li>
						<li class="navbar-right">
							<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
						</li>
						<% else %>
						<li class="navbar-right">
							<%= link_to " Sign Up", new_user_registration_path%>
						</li>

						<li class="navbar-right">
							<%= link_to "Sign In", new_user_session_path %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
	  <% if user_signed_in? %>
		<aside class="main-sidebar">
			<section class="sidebar">
				<div class="user-panel clearfix">
					 <%=link_to edit_user_registration_path do%>
					 	<div class="image">
		              		<img src="<%= asset_path 'user.png' %>" class="img-circle" alt="User Image" />
		            	</div>
		              <%end%>					
		            <p class="info">
		              <%=link_to current_user.first_name+' '+ current_user.last_name, edit_user_registration_path%>
		            </p>
		            <div class="sider-list">
		            	<%= link_to user_root_path, :class=>"btn" do%>
							<span class="glyphicon glyphicon-home"></span>
		            		<span> MY GALLERY</span>
						<%end%>		            	
						<%= link_to new_picture_path, :class=>"btn" do%>
							<span class="glyphicon glyphicon-cloud-upload"></span>
		            		<span> UPLOAD IMAGE</span>
						<%end%>
    					<%= link_to showSharedImage_picture_path, :class=>"btn" do%>
    						<span class="glyphicon glyphicon-heart"></span>
		            		<span> SHARED IMAGES</span>
						<%end%>
						<%= link_to trash_picture_path, :class=>"btn" do%>
		            		<span class="glyphicon glyphicon-trash"></span>
		            		<span> TRASH</span>
		            	<%end%>
		            </div>
				</div>
			</section>
		</aside>
		<div class = "mainContent">
		<%end%>
			<div class="container">
				<%= yield %>
				<p class="notice">
					<%= notice %>
				</p>
				<p class="alert">
					<%= alert %>
				</p>
			</div>
		<% if user_signed_in? %>
		</div>
		<%end%>
	</body>
</html>